---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---
/* Hover animations */

.card:hover{
  background: black;
  color: white;

}

.listfeaturedtag:hover{
  background: black;
  color: white;
}

.listfeaturedtag:hover h2{
color: white !important;
}

/* end of hover */


/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "stars"
;


@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900');


body{
background: #ffffff;
margin: 0px;
}
.title{
  height: 720px;
  background: #000000;
}

h1{
  text-align: center;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 74px;
  padding-left: 20px;
  padding-top: 230px;
  display: block;
  /* font-size: 2em; */
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 400;
}

body {
  height: 2000px;
}

#span{
  font-size: 23px;
  font-weight: 100;
}
#expandable {
  text-align: center !important;
  position: fixed;
  font-size: 1.5vw;
line-height: 1.5vw;
text-align: center;
color: #fff;
font-family: 'Roboto', sans-serif;
margin-left: 1%;
padding-left: 20px;
padding-top: 1%;
display: block;
/* font-size: 2em; */

font-weight: 400;
}

h2 {
  color: #000 !important;
  font-family: 'Roboto', sans-serif;
}
p {
  color: #4f9d85;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 100;
  // padding-top: 27%;
}

h3 {
  color: blue;
}

.first{
  background-color: black;
}

.main{
  background: white;
}

.main p{
  color: black;
}

/* //navbar// */

.main-nav{


    top: 0px;
    height:8.5%;
    position: fixed;
    width: 100%;
		z-index: 1;
  list-style-type: none;

  overflow: hidden;
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;

}


.navbar ul {
  right: 10px;
    position: fixed;
    top: 1%;
  list-style-type: none;
  opacity: 1;
  overflow: hidden;
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  float: right;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.navbar li {
  float: right;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.navbar li a:hover {
  color: #4f9d85;
}
